Who chooses the moderators?

There have been several email comments objecting to "The IETF Chair appoints members of the moderator team." The concern is that this might end up with the Chair being conflicted when a moderation "case" involves the Chair (or maybe the IESG).
Should the moderator team be appointed by a community process? If so, how, since NomCom is already overloaded?

I think this is a red herring and the people who hold this objection do so because they want to be able to claim that the IETF Chair is censoring them and the moderator team is compromised when the IETF Chair disagrees with things they say and do.

That's exactly what they claim. I'm not supporting them necessarily, but should we note this in the draft as an open issue?

I see no good solution here. And the chair already appoints the current moderator team and the ombudsteam.

Agree with @larseggert. 

We could go to a model that I had been using for those two teams, I.e., have them search and nominate new candidates for the team with the chair merely approving.

That's good, and should probably be documented for the Ombudsteam too.
Do we also need to discuss how a moderator is removed?
Also we need a conflict of interests section, like section 7 of RFC 7776. What happens if the Chair is involved directly in a moderation "incident"?

It shouldn't ever happen. But sometimes bad things do happen...

Could we see some discussion on #55, specifically whether we need to describe in this I-D how moderators are removed from the team if we go to a "team self-selects, chair confirms" model?